.selection-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #1c38d980 25%, transparent 21%),
    linear-gradient(315deg, #1c38d980 25%, transparent 21%),
    linear-gradient(45deg, #1c38d9 10%, transparent 11%),
    linear-gradient(315deg, #1c38d9 10%, transparent 11%),
    linear-gradient(135deg, #1c38d980 25%, transparent 21%),
    linear-gradient(225deg, #1c38d980 25%, transparent 21%),
    linear-gradient(135deg, #1c38d9 10%, transparent 11%),
    linear-gradient(225deg, #1c38d9 10%, transparent 11%),
    radial-gradient(#1c38d9 20%, transparent 21%);
  background-size: 3em 3em;
  background-color: #3f74f2;
  opacity: 1;
}

.selection-screen > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px #000;
}

.selection-screen > form > h1 {
  margin-bottom: 10px;
}

.selection-screen > form > .container {
  display: flex;
}

.selection-screen > form > .next-button {
  width: 350px;
  height: 30px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
}

.selection-screen > form > .next-button:hover {
  transform: scale(0.95);
}

.selection-screen > form > .next-button:active {
  color: #3f74f2;
}

.selection-screen > form > .container > .player {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
}

.selection-screen > form > .container > .player > input,
select {
  background-color: lightgray;
  border: none;
  height: 30px;
  border-radius: 5px;
  padding: 0px 2px 0px 2px;
}

/* .selection-form {
  width: 100vw;
  height: 100vh;
  display: flex;    
  justify-content: center;
  align-items: center;
  background-color: red;
}

.selection-screen > .container {
  display: flex;
}

.selection-screen > .container > .player {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
} */
