.start-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #388e3c;
}

.start-screen > h1,
h1,
button {
  margin: 10px 0px 10px 0px;
}

.start-screen > button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: large;
  font-weight: bold;
  background-color: #000;
  color: #fff;
}

.start-screen > button:hover {
  transform: scale(0.95);
}

.start-screen > button:active {
  color: gold;
}
